
.row .marcar .container {
    display: flex;
    margin-left:5%;
  
   
}
  
.row .marcar .item {
    flex-grow: 1;
    margin-top: 15%;
    height: 500px;
    justify-content: center;
    align-items: center;
   
}
  
.item +  .item {
    margin-left: 5%;
}


.row .marcar .item p{
    margin-top: 2%;
    text-align: center;
   
}

.row .marcar .item .about-us-name {
    font-size: 18px;
    font-weight: 300;
    margin-top: 20px;
}

.row .marcar .item img{
    height:180;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
   
}

.marcar h2 {
    position:absolute;
    top:5%;
    width: 50%;
    margin: 2% 20% 10% 20%;

}