.gallery{
    box-sizing: border-box;
  }
  
  img {
    max-width: 100%;
    vertical-align: center;
    
  }
  
  .gallery {
    margin-top:100px;
    display: flex;
    margin: 10px auto;
    max-width: 600px;
    position: relative;
    padding-top: 66.6666666667%;
  }

  /* .gallery-title {
    text-align: center;
    color:white;
    font-size: 50px;
    font-weight: 180;
    font-family: "Poppins", Arial, sans-serif;
  } */

  @media screen and (min-width: 600px) { /*desktop*/
    .gallery {
      padding-top: 75%;
      
    }

  }

  @media screen and (max-width: 600px) { /*mobile*/ 
    .gallery {
      padding-top: 75%;
      
    }

        
    .gallery {
      width:100%;
      height:auto;
      margin:0 15px 0 15px;
    }

    .gallery__thumb {
      width:80%;
      height:auto;
      
  }
}
  .gallery__img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    width:100%;
    height:auto;
  }

  .gallery__thumb {
    padding-top: 5px;
    margin: 5px;
    display: block;
    width:80%;
    height:20%;
  }
  .gallery__selector {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  }
  .gallery__selector:checked + .gallery__img {
    opacity: 1;
  }
  .gallery__selector:checked ~ .gallery__thumb > img {
    box-shadow: 0 0 0 2px #ffcada;
  }
  .gallery__thumb img:hover {
    cursor: pointer;
  }

